textarea {
    width: 199px;
    height: 75px;
}

.largo input { 
    width: 76px; 
}

input { 
    width: 35px;
    margin: 1.2px;
}

#bloque {
    border: 2px solid black;
    width: 205px;
    margin: 0 auto;
    background-color: brown;
}