textarea {
    width: 199px;
    height: 75px;
}

#borrar { 
    width: 70px; 
}

#C { 
    width: 70px; 
}

input { 
    width: 45px;
    margin: 1.2px;
}

#bloque {
    border: 2px solid black;
    width: 205px;
    margin: 0 auto;
    background-color: brown;
}